<h2 id="title">Ember-g-map Component</h2>

{{#g-map shouldFit=true as |context|}}
  {{g-map-marker context lat=37.7933 lng=-122.4467}}

  {{#g-map-marker context lat=37.7433 lng=-122.3867 as |markerContext|}}
    {{#g-map-infowindow markerContext}}
      <h1>Bound InfoWindow</h1>
      <p>This InfoWindow is bound to a marker.</p>
      <p>It can has bound variables:</p>
      <p>Random: {{randomVariable}}</p>

      <p>And elements with actions:</p>
      <button {{action "refresh"}}>Refresh</button>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

  {{#g-map-infowindow context lat=37.7333 lng=-122.4367}}
    <h1>Independent InfoWindow</h1>
    <p>This InfoWindow can be placed anywhere on the map.</p>
  {{/g-map-infowindow}}

  {{g-map-infowindow context title="Blockless Infowindow" message="Contains plain text"
                     lat=37.7633 lng=-122.4367}}

  {{g-map-route context
                originLat=37.7933 originLng=-122.4467
                destinationLat=37.7433 destinationLng=-122.3867}}
{{/g-map}}
