<h2 id="title">Ember-g-map Component</h2>

<form {{action "updateAdressQuery" on="submit"}}>
  <p>
    <label>Address Query for Bound Marker</label>
    {{input value=addressQueryInput}}
  </p>
  <p>
    <button type="submit"> Update bound marker </button>
  </p>
  <p>
    <button {{action "toggleRouteColor"}}> Toggle route color </button>
  </p>
</form>

{{#g-map markersFitMode="live" options=customOptions as |context|}}
  {{g-map-marker context lat=37.7933 lng=-122.4467}}

  {{#g-map-marker context lat=37.7433 lng=-122.3867 as |markerContext|}}
    {{#g-map-infowindow markerContext}}
      <h1>Bound InfoWindow</h1>
      <p>This InfoWindow is bound to a marker.</p>
      <p>It can has bound variables:</p>
      <p>Random: {{randomVariable}}</p>

      <p>And elements with actions:</p>
      <button {{action "refresh"}}>Refresh</button>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

  {{#g-map-address-marker context address=addressQuery as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h1>Bound to Address Query</h1>
    {{/g-map-infowindow}}
  {{/g-map-address-marker}}

  {{#g-map-infowindow context lat=37.7333 lng=-122.4367 onClose="onInfowindowClosed"}}
    <h1>Independent InfoWindow</h1>
    <p>This InfoWindow can be placed anywhere on the map.</p>
  {{/g-map-infowindow}}

  {{g-map-infowindow context title="Blockless Infowindow" message="Contains plain text"
                     lat=37.7633 lng=-122.4367 onClose=(action "onInfowindowClosed")}}

  {{#g-map-route context strokeColor=routeColor strokeWeight=2 strokeOpacity=0.5 zIndex=10
                originLat=37.7933 originLng=-122.4467
                destinationLat=37.7433 destinationLng=-122.3867
                as |routeContext|}}
    {{g-map-route-waypoint routeContext address="Oakland, California"}}
  {{/g-map-route}}

  {{#g-map-address-route context
                strokeColor="#00FF00"
                originAddress="Los Angeles, California"
                destinationAddress="San Francisco, California"
                as |routeContext|}}
    {{g-map-route-waypoint routeContext address="Oakland, California"}}
    {{g-map-route-waypoint routeContext address="New York City, New York"}}
    {{g-map-route-waypoint routeContext address="Dallas, Texas"}}
  {{/g-map-address-route}}

  {{g-map-route context strokeColor=routeColor strokeWeight=6 strokeOpacity=0.5 zIndex=10
                originLat=36.169941 originLng=-115.139830
                destinationLat=37.7433 destinationLng=-122.3867}}

  {{g-map-address-route context
                originAddress="Las Vegas, Nevada"
                destinationAddress="Sacramento, California"}}
{{/g-map}}
